[submodule "modules/concord"]
	path = modules/concord
	url = git@github.com:Tjakka5/Concord.git
[submodule "modules/inspect"]
	path = modules/inspect
	url = git@github.com:kikito/inspect.lua.git
[submodule "modules/lily"]
	path = modules/lily
	url = git@github.com:MikuAuahDark/lily.git
[submodule "modules/flux"]
	path = modules/flux
	url = git@github.com:rxi/flux.git
[submodule "modules/hump"]
	path = modules/hump
	url = git@github.com:vrld/hump.git
[submodule "modules/lume"]
	path = modules/lume
	url = git@github.com:rxi/lume.git
[submodule "modules/classic"]
	path = modules/classic
	url = git@github.com:rxi/classic.git
[submodule "modules/lurker"]
	path = modules/lurker
	url = git@github.com:rxi/lurker.git
	ignore = dirty
[submodule "modules/peachy"]
	path = modules/peachy
	url = git@github.com:flamendless/peachy.git
[submodule "modules/knife"]
	path = modules/knife
	url = git@github.com:airstruck/knife.git
[submodule "modules/semver"]
	path = modules/semver
	url = git@github.com:kikito/semver.lua.git
[submodule "modules/log"]
	path = modules/log
	url = git@github.com:flamendless/log.lua.git
[submodule "modules/luapreprocess"]
	path = modules/luapreprocess
	url = https://github.com/ReFreezed/LuaPreprocess
